{
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false
}
